<!DOCTYPE html>
<script type="text/prismic-query" data-binding="documents">
[[:d = any(document.id, ["VGJbyyYAACcAdtxb"])]]
</script>
[% document = documents[0] %]

<script type="text/prismic-query" data-binding="issues">
[[:d = any(document.type, ["issue"])]]
</script>
[% issues = helpers.sortDocumentsBy(issues, 'issue.issue_number') %]
[% nextIssue = issues[0] %]

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="../../stylesheets/screen.css" media="all" rel="stylesheet" type="text/css" />
	<script src="http://modernizr.com/downloads/modernizr-2.5.3.js"></script>
	<script src="../../assets/js/keymaster.min.js"></script>

	<title>Magazine | [%= document.getText('page.title') %]</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:url" content="[%= urlToHere() %]" />

	<meta name="prismic-routing-pattern" content="backsoon/index/index.html">
</head>

<body class="wrapper">
	<nav class="paginate">
		[% if (nextIssue) { %]
			<a id="next" href="[%= pathTo('issue', { issueNum: nextIssue.getNumber('issue.issue_number') }) %]" class="next">▶</a>
			<script>
			key('right', function(){ 
				window.open($("#next")[0].href, '_self', false);
			});
			</script>
		[% } %]
	</nav>

	<div class="container">
		<section class="table-of-contents">
			<header class="cover">
				[% if (document.getImage('page.image')) { %]
					<img src="[%= document.getImage('page.image').main.url %]" style="width:100%;height:100%" />
				[% } %]
			</header>

			<div class="logo">
				<h1 id="title">P2</h1>
				<h2 id="subtitle">Magazine</h2>
				<h3 id="corp">
					<strong>Thought</strong>Works
				</h3>
			</div>

			<section class="issue-notes">
				<h1>[%= document.getText('page.title') %]</h1>
				[%- document.getStructuredText('page.content').asHtml(null, helpers.serializer) %]
				
				<p>In the meantime, you can check out one of our fantastic previous issues:</p>
				<ul>[% _.each(issues.reverse(), function(issue) { %]
					<li><a href="../..[%= pathTo('issue', { issueNum: issue.getNumber('issue.issue_number') }) %]"
						>[%= helpers.issueLabel(issue) %]
					</a></li>
				[% }) %]</ul>
			</section>
		</section>			
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>
	if (typeof jQuery == 'undefined') {
    	document.write(unescape("%3Cscript src='assets/js/jquery-1.8.2.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
	</script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-41328116-1', 'thoughtworks.github.io');
	ga('send', 'pageview');
	</script>
	<script>
	$(function() {
    	setTimeout(function() {
        	$("<span>&nbsp;</span>").appendTo(".cover");
    	}, 100);
	});
	</script>
</body>
</html>
