<!DOCTYPE html>
<script type="text/prismic-query" data-binding="issues" data-eager="true">
[[:d = at(my.issue.issue_number, $issueNum)]]
</script>
[% issue = issues[0] %]
<script type="text/prismic-query" data-binding="allIssues">
[[:d = any(document.type, ["issue"])]]
</script>

[% firstArticle = helpers.firstArticleInIssue(issue) %]
[% nextIssue = helpers.nextIssue(allIssues, issue) %]
[% prevIssue = helpers.prevIssue(allIssues, issue) %]

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="../../stylesheets/screen.css" media="all" rel="stylesheet" type="text/css" />
	<script src="http://modernizr.com/downloads/modernizr-2.5.3.js"></script>
	<script src="../../assets/js/keymaster.min.js"></script>

	<title>Magazine | [%= issue.getText('issue.title') %]</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:url" content="[%= urlToHere() %]" />

	<meta name="prismic-routing-pattern" content="/issue$issueNum/index/index">
    <meta name="prismic-routing-param" content="issueNum">
</head>

<body class="wrapper">
	<nav class="paginate">
		[% if (firstArticle) { %]
			<a id="next" href="../..[%= pathTo('article', helpers.articleURLParams(issue, firstArticle )) %]" class="next">▶</a>
			<script>
			key('right', function(){
				window.open($("#next")[0].href, '_self', false);
			});
			</script>
		[% } %]
	</nav>

	<div class="container">
		<section class="table-of-contents">
			<header class="cover">
				[% if (issue.getImage('issue.image')) { %]
					<img src="[%= issue.getImage('issue.image').main.url %]" style="width:100%;height:100%" />
				[% } %]
			</header>
			
			<div class="logo">
				<h1 id="title">P2</h1>
				<h2 id="subtitle">Magazine</h2>
				<h3 id="corp">
					<strong>Thought</strong>Works
				</h3>
			</div>

			<nav class="issues">
				<ul class="clearfix">
					<li class="active"><a href="">[%= helpers.issueLabelShort(issue) %]</a></li>
					[% if (firstArticle) { %]
						<li id="start-reading" class="pull-right">
							<a href="../..[%= pathTo('article', helpers.articleURLParams(issue, firstArticle )) %]">Start Reading &raquo;</a>
						</li>
					[% } %]
				</ul>
			</nav>

			<section class="issue-notes">
				<h1>[%= issue.getText('issue.title') %]</h1>
				[%- issue.getStructuredText('issue.body').asHtml(null, helpers.serializer) %]

				<p>This month we feature:</p>

				<ul>[% if (issue.getGroup('issue.articles')) { %]
					[% _.each(issue.getGroup('issue.articles').toArray(), function(group) { %]
						[% articleId = group.getLink('article').document.id  %]
						[% article = issue.loadedDocuments[articleId] %]

						<li><a href="../..[%= pathTo('article', helpers.articleURLParams(issue, article)) %]"
							>[%= article.getText('article.title') %]
						</a></li>
					[% }) %]
				[% } %]</ul>
			</section>

			<section class="issue-notes">
				<h3>
					[% if (prevIssue) { %]
						<a href="../..[%= pathTo('issue', { issueNum: prevIssue.getNumber('issue.issue_number') }) %]"
							>&laquo; Last Issue</a>
					[% } else { %]
						[% if (firstArticle) { %]
							<a href="../..[%= pathTo('article', helpers.articleURLParams(issue, firstArticle )) %]"
								>Read this issue &raquo;</a>
						[% } %]
					[% } %]

					[% if (nextIssue) { %]
						<a href="../..[%= pathTo('issue', { issueNum: nextIssue.getNumber('issue.issue_number') }) %]" class="pull-right"
							>Jump to next issue &raquo;</a>
					[% } else { %]
						[% if (firstArticle) { %]
							<a href="../..[%= pathTo('article', helpers.articleURLParams(issue, firstArticle )) %]" class="pull-right"
								>Start Reading &raquo;</a>
						[% } %]
					[% } %]
				</h3>
			</section>
		</section>
	</div>

	<div id="bottom-pages">
		<nav class="paginate">
			[% if (firstArticle) { %]
				<a href="../..[%= pathTo('article', helpers.articleURLParams(issue, firstArticle )) %]" class="next">▶</a>
			[% } %]
		</nav>
	</div>
</body>
</html>
